app/code/Mageside/CanadaPostShipping/etc/wsdl/ncshipment.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="ncshipment" targetNamespace="http://www.canadapost.ca/ws/soap/ncshipment/v4" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://www.canadapost.ca/ws/soap/ncshipment/v4" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/">
    <wsdl:documentation>
        V4.1 – Removed all references to COD remittance process.
        V4.2 – Added ability to request shipment refund and to get shipments by tracking pin.
    </wsdl:documentation>
    <wsdl:types>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.canadapost.ca/ws/soap/ncshipment/v4">

            <xsd:element name="create-non-contract-shipment-request">
                <xsd:complexType>
                    <xsd:all>
                        <xsd:element name="mailed-by" type="tns:CustomerIDType" />
                        <xsd:element name="locale" type="tns:locale" minOccurs="0" />
                        <xsd:element name="platform-id" type="tns:PlatformIDType" minOccurs="0" />
                        <xsd:element name="non-contract-shipment" type="tns:NonContractShipmentType" />
                    </xsd:all>
                </xsd:complexType>
            </xsd:element>

            <xsd:element name="create-non-contract-shipment-response">
                <xsd:complexType>
                    <xsd:choice>
                        <xsd:element name="non-contract-shipment-info" type="tns:NonContractShipmentInfoType" />
                        <xsd:element name="messages" type="tns:messages" />
                    </xsd:choice>
                </xsd:complexType>
            </xsd:element>

            <xsd:element name="get-non-contract-shipment-request">
                <xsd:complexType>
                    <xsd:all>
                        <xsd:element name="mailed-by" type="tns:CustomerIDType" />
                        <xsd:element name="locale" type="tns:locale" minOccurs="0" />
                        <xsd:element name="platform-id" type="tns:PlatformIDType" minOccurs="0" />
                        <xsd:element name="shipment-id" type="tns:ShipmentIDType" />
                    </xsd:all>
                </xsd:complexType>
            </xsd:element>

            <xsd:element name="get-non-contract-shipment-response">
                <xsd:complexType>
                    <xsd:choice>
                        <xsd:element name="non-contract-shipment-info" type="tns:NonContractShipmentInfoType" />
                        <xsd:element name="messages" type="tns:messages" />
                    </xsd:choice>
                </xsd:complexType>
            </xsd:element>

            <xsd:element name="get-non-contract-shipment-details-request">
                <xsd:complexType>
                    <xsd:all>
                        <xsd:element name="mailed-by" type="tns:CustomerIDType" />
                        <xsd:element name="locale" type="tns:locale" minOccurs="0" />
                        <xsd:element name="platform-id" type="tns:PlatformIDType" minOccurs="0" />
                        <xsd:element name="shipment-id" type="tns:ShipmentIDType" />
                    </xsd:all>
                </xsd:complexType>
            </xsd:element>

            <xsd:element name="get-non-contract-shipment-details-response">
                <xsd:complexType>
                    <xsd:choice>
                        <xsd:element name="non-contract-shipment-details" type="tns:NonContractShipmentDetailsType" />
                        <xsd:element name="messages" type="tns:messages" />
                    </xsd:choice>
                </xsd:complexType>
            </xsd:element>

            <xsd:element name="get-non-contract-shipment-receipt-request">
                <xsd:complexType>
                    <xsd:all>
                        <xsd:element name="mailed-by" type="tns:CustomerIDType" />
                        <xsd:element name="locale" type="tns:locale" minOccurs="0" />
                        <xsd:element name="platform-id" type="tns:PlatformIDType" minOccurs="0" />
                        <xsd:element name="shipment-id" type="tns:ShipmentIDType" />
                    </xsd:all>
                </xsd:complexType>
            </xsd:element>

            <xsd:element name="get-non-contract-shipment-receipt-response">
                <xsd:complexType>
                    <xsd:choice>
                        <xsd:element name="non-contract-shipment-receipt" type="tns:NonContractShipmentReceiptType" />
                        <xsd:element name="messages" type="tns:messages" />
                    </xsd:choice>
                </xsd:complexType>
            </xsd:element>

            <xsd:element name="get-non-contract-shipments-request">
                <xsd:complexType>
                    <xsd:all>
                        <xsd:element name="mailed-by" type="tns:CustomerIDType" />
                        <xsd:element name="locale" type="tns:locale" minOccurs="0" />
                        <xsd:element name="platform-id" type="tns:PlatformIDType" minOccurs="0" />
                        <xsd:element name="from" type="xsd:dateTime" minOccurs="0"/>
                        <xsd:element name="to" type="xsd:dateTime" minOccurs="0" />
                        <xsd:element name="tracking-pin" type="tns:TrackingPINType" minOccurs="0"/>
                    </xsd:all>
                </xsd:complexType>
            </xsd:element>

            <xsd:element name="get-non-contract-shipments-response">
                <xsd:complexType>
                    <xsd:choice>
                        <xsd:element name="non-contract-shipments" type="tns:NonContractShipmentsType" />
                        <xsd:element name="messages" type="tns:messages" />
                    </xsd:choice>
                </xsd:complexType>
            </xsd:element>

            <xsd:element name="request-non-contract-shipment-refund-request">
                <xsd:complexType>
                    <xsd:all>
                        <xsd:element name="mailed-by" type="tns:CustomerIDType" />
                        <xsd:element name="locale" type="tns:locale" minOccurs="0" />
                        <xsd:element name="platform-id" type="tns:PlatformIDType" minOccurs="0" />
                        <xsd:element name="shipment-id" type="tns:ShipmentIDType" />
                        <xsd:element name="non-contract-shipment-refund-request" type="tns:NonContractShipmentRefundRequestType"/>
                    </xsd:all>
                </xsd:complexType>
            </xsd:element>

            <xsd:element name="request-non-contract-shipment-refund-response">
                <xsd:complexType>
                    <xsd:choice>
                        <xsd:element name="non-contract-shipment-refund-request-info" type="tns:NonContractShipmentRefundRequestInfoType" />
                        <xsd:element name="messages" type="tns:messages" />
                    </xsd:choice>
                </xsd:complexType>
            </xsd:element>

            <xsd:complexType name="NonContractShipmentInfoType">
                <xsd:all>
                    <xsd:element name="shipment-id" type="tns:ShipmentIDType" />
                    <xsd:element name="tracking-pin" type="tns:TrackingPINType" minOccurs="0" />
                    <xsd:element name="artifacts" type="tns:ArtifactsType" minOccurs="0" />
                </xsd:all>
            </xsd:complexType>

            <xsd:complexType name="NonContractShipmentDetailsType">
                <xsd:all>
                    <xsd:element name="final-shipping-point" type="tns:PostalCodeType" />
                    <xsd:element name="tracking-pin" type="tns:TrackingPINType" minOccurs="0" />
                    <xsd:element name="delivery-spec">
                        <xsd:complexType>
                            <xsd:all>
                                <xsd:element name="service-code" type="tns:ServiceCodeType" />
                                <xsd:element name="sender" type="tns:SenderType" />
                                <xsd:element name="destination" type="tns:DestinationType" />
                                <xsd:element name="recipient" type="tns:RecipientAddressType" minOccurs="0" />
                                <xsd:element name="options" minOccurs="0">
                                    <xsd:complexType>
                                        <xsd:sequence>
                                            <xsd:element name="option" type="tns:OptionType" maxOccurs="20" />
                                        </xsd:sequence>
                                    </xsd:complexType>
                                </xsd:element>
                                <xsd:element name="parcel-characteristics" type="tns:ParcelCharacteristicsType" />
                                <xsd:element name="notification" type="tns:NotificationType" minOccurs="0" />
                                <xsd:element name="preferences" type="tns:PreferencesType" />
                                <xsd:element name="references" type="tns:ReferencesType" minOccurs="0" />
                                <xsd:element name="customs" type="tns:CustomsType" minOccurs="0" />
                                <xsd:element name="settlement-info" type="tns:SettlementInfoType" minOccurs="0"/>
                            </xsd:all>
                        </xsd:complexType>
                    </xsd:element>
                    <xsd:element name="refund-request-info" type="tns:NonContractShipmentRefundRequestInfoType" minOccurs="0"/>
                </xsd:all>
            </xsd:complexType>

            <xsd:complexType name="NonContractShipmentReceiptType">
                <xsd:all>
                    <xsd:element name="final-shipping-point" type="tns:PostalCodeType" />
                    <xsd:element name="shipping-point-name">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:normalizedString">
                                <xsd:maxLength value="35" />
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="shipping-point-id" type="tns:OutletIDType" />
                    <xsd:element name="mailed-by-customer" type="tns:CustomerIDType" />
                    <xsd:element name="service-code" type="tns:ServiceCodeType" />
                    <xsd:element name="rated-weight">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:decimal">
                                <xsd:minExclusive value="0" />
                                <xsd:maxInclusive value="999.999" />
                                <xsd:fractionDigits value="3" />
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="base-amount" type="tns:CostTypeNonZero" />
                    <xsd:element name="pre-tax-amount" type="tns:CostTypeNonZero" />
                    <xsd:element name="gst-amount" type="tns:CostTypeAllowsZero" />
                    <xsd:element name="pst-amount" type="tns:CostTypeAllowsZero" />
                    <xsd:element name="hst-amount" type="tns:CostTypeAllowsZero" />
                    <xsd:element name="priced-options" minOccurs="0">
                        <xsd:complexType>
                            <xsd:sequence>
                                <xsd:element name="priced-option" minOccurs="0" maxOccurs="unbounded">
                                    <xsd:complexType>
                                        <xsd:all>
                                            <xsd:element name="option-code">
                                                <xsd:simpleType>
                                                    <xsd:restriction base="xsd:normalizedString">
                                                        <xsd:maxLength value="10" />
                                                    </xsd:restriction>
                                                </xsd:simpleType>
                                            </xsd:element>
                                            <xsd:element name="option-price" type="tns:CostTypeAllowsNegative" />
                                        </xsd:all>
                                    </xsd:complexType>
                                </xsd:element>
                            </xsd:sequence>
                        </xsd:complexType>
                    </xsd:element>
                    <xsd:element name="adjustments" minOccurs="0">
                        <xsd:complexType>
                            <xsd:sequence>
                                <xsd:element name="adjustment" minOccurs="0" maxOccurs="unbounded">
                                    <xsd:complexType>
                                        <xsd:all>
                                            <xsd:element name="adjustment-code">
                                                <xsd:simpleType>
                                                    <xsd:restriction base="xsd:normalizedString">
                                                        <xsd:maxLength value="10" />
                                                    </xsd:restriction>
                                                </xsd:simpleType>
                                            </xsd:element>
                                            <xsd:element name="adjustment-amount" type="tns:CostTypeAllowsNegative" />
                                        </xsd:all>
                                    </xsd:complexType>
                                </xsd:element>
                            </xsd:sequence>
                        </xsd:complexType>
                    </xsd:element>
                    <xsd:element name="cc-receipt-details">
                        <xsd:complexType>
                            <xsd:all>
                                <xsd:element name="merchant-name">
                                    <xsd:simpleType>
                                        <xsd:restriction base="xsd:normalizedString">
                                            <xsd:maxLength value="44" />
                                        </xsd:restriction>
                                    </xsd:simpleType>
                                </xsd:element>
                                <xsd:element name="merchant-url">
                                    <xsd:simpleType>
                                        <xsd:restriction base="xsd:normalizedString">
                                            <xsd:maxLength value="60" />
                                        </xsd:restriction>
                                    </xsd:simpleType>
                                </xsd:element>
                                <xsd:element name="name-on-card" type="tns:CcNameType" minOccurs="0" />
                                <xsd:element name="auth-code" type="tns:CcAuthorizationCodeType" />
                                <xsd:element name="auth-timestamp" type="xsd:dateTime" />
                                <xsd:element name="card-type" type="tns:CcType" />
                                <xsd:element name="charge-amount" type="tns:CcAuthorizationAmountType" />
                                <xsd:element name="currency" type="tns:CurrencyType" />
                                <xsd:element name="transaction-type">
                                    <xsd:simpleType>
                                        <xsd:restriction base="xsd:normalizedString">
                                            <xsd:maxLength value="44" />
                                        </xsd:restriction>
                                    </xsd:simpleType>
                                </xsd:element>
                            </xsd:all>
                        </xsd:complexType>
                    </xsd:element>
                    <xsd:element name="service-standard">
                        <xsd:complexType>
                            <xsd:all>
                                <xsd:element name="am-delivery" type="xsd:boolean" />
                                <xsd:element name="guaranteed-delivery" type="xsd:boolean" />
                                <xsd:element name="expected-transit-time">
                                    <xsd:simpleType>
                                        <xsd:restriction base="xsd:integer">
                                            <xsd:minInclusive value="0" />
                                            <xsd:maxInclusive value="99" />
                                        </xsd:restriction>
                                    </xsd:simpleType>
                                </xsd:element>
                                <xsd:element name="expected-delivery-date" type="xsd:date" />
                            </xsd:all>
                        </xsd:complexType>
                    </xsd:element>
                </xsd:all>
            </xsd:complexType>

            <xsd:complexType name="NonContractShipmentType">
                <xsd:all>
                    <xsd:element name="requested-shipping-point" type="tns:PostalCodeType" minOccurs="0"/>
                    <xsd:element name="delivery-spec" type="tns:DeliverySpecType" />
                </xsd:all>
            </xsd:complexType>

            <xsd:complexType name="NonContractShipmentsType">
                <xsd:sequence>
                    <xsd:element name="shipment-id" type="tns:ShipmentIDType" minOccurs="0" maxOccurs="unbounded" />
                </xsd:sequence>
            </xsd:complexType>

            <xsd:complexType name="NonContractShipmentRefundRequestType">
                <xsd:all>
                    <xsd:element name="email" type="tns:EmailType"/>
                </xsd:all>
            </xsd:complexType>

            <xsd:complexType name="NonContractShipmentRefundRequestInfoType">
                <xsd:all>
                    <xsd:element name="service-ticket-date" type="xsd:date"/>
                    <xsd:element name="service-ticket-id" type="xsd:normalizedString"/>
                </xsd:all>
            </xsd:complexType>

            <xsd:complexType name="DeliverySpecType">
                <xsd:all>
                    <xsd:element name="service-code" type="tns:ServiceCodeType" />
                    <xsd:element name="sender" type="tns:SenderType" />
                    <xsd:element name="destination" type="tns:DestinationType" />
                    <xsd:element name="options" minOccurs="0">
                        <xsd:complexType>
                            <xsd:sequence>
                                <xsd:element name="option" type="tns:OptionType" maxOccurs="20" />
                            </xsd:sequence>
                        </xsd:complexType>
                    </xsd:element>
                    <xsd:element name="parcel-characteristics" type="tns:ParcelCharacteristicsType" />
                    <xsd:element name="notification" type="tns:NotificationType" minOccurs="0" />
                    <xsd:element name="preferences" type="tns:PreferencesType" />
                    <xsd:element name="references" type="tns:ReferencesType" minOccurs="0" />
                    <xsd:element name="customs" type="tns:CustomsType" minOccurs="0" />
                    <xsd:element name="settlement-info" type="tns:SettlementInfoType" minOccurs="0"/>
                </xsd:all>
            </xsd:complexType>

            <xsd:complexType name="CustomsType">
                <xsd:all>
                    <xsd:element name="currency" type="tns:CurrencyType" />
                    <xsd:element name="conversion-from-cad" minOccurs="0">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:decimal">
                                <xsd:minExclusive value="0" />
                                <xsd:maxInclusive value="999.999999" />
                                <xsd:fractionDigits value="6" />
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="reason-for-export">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:normalizedString">
                                <xsd:minLength value="1" />
                                <xsd:maxLength value="3" />
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="other-reason" minOccurs="0">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:normalizedString">
                                <xsd:maxLength value="44" />
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="sku-list">
                        <xsd:complexType>
                            <xsd:sequence>
                                <xsd:element name="item" type="tns:SkuType" maxOccurs="500" />
                            </xsd:sequence>
                        </xsd:complexType>
                    </xsd:element>
                    <xsd:element name="duties-and-taxes-prepaid"  minOccurs="0">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:decimal">
                                <xsd:minExclusive value="0"/>
                                <xsd:maxInclusive value="99999.99"/>
                                <xsd:fractionDigits value="2"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="certificate-number"  minOccurs="0">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:normalizedString">
                                <xsd:maxLength value="10"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="licence-number"  minOccurs="0">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:normalizedString">
                                <xsd:maxLength value="10"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="invoice-number"  minOccurs="0">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:normalizedString">
                                <xsd:maxLength value="10"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                </xsd:all>
            </xsd:complexType>

            <xsd:complexType name="SettlementInfoType">
                <xsd:all>
                    <xsd:element name="promo-code" type="tns:PromoCodeType" minOccurs="0"/>
                </xsd:all>
            </xsd:complexType>

            <xsd:complexType name="SkuType">
                <xsd:all>
                    <xsd:element name="customs-number-of-units">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:positiveInteger">
                                <xsd:minInclusive value="1" />
                                <xsd:maxInclusive value="9999" />
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="customs-description">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:normalizedString">
                                <xsd:minLength value="1" />
                                <xsd:maxLength value="45" />
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="sku" minOccurs="0">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:normalizedString">
                                <xsd:maxLength value="15" />
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="hs-tariff-code" minOccurs="0">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:pattern value="\d{4}(\.\d{2}(\.\d{2}(\.\d{2})?)?)?" />
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="unit-weight">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:decimal">
                                <xsd:minExclusive value="0" />
                                <xsd:maxInclusive value="99.999" />
                                <xsd:fractionDigits value="3" />
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="customs-value-per-unit">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:decimal">
                                <xsd:minExclusive value="0" />
                                <xsd:maxInclusive value="99999.99" />
                                <xsd:fractionDigits value="2" />
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="customs-unit-of-measure" type="tns:CustomsUnitOfMeasure" minOccurs="0"/>
                    <xsd:element name="country-of-origin" type="tns:CountryCodeType" minOccurs="0" />
                    <xsd:element name="province-of-origin" type="tns:ProvinceType" minOccurs="0" />
                </xsd:all>
            </xsd:complexType>

            <xsd:simpleType name="CustomsUnitOfMeasure">
                <xsd:restriction base="xsd:normalizedString">
                    <xsd:length value="3" />
                </xsd:restriction>
            </xsd:simpleType>

            <xsd:complexType name="SenderType">
                <xsd:all>
                    <xsd:element name="name" type="tns:ContactNameType" minOccurs="0" />
                    <xsd:element name="company" type="tns:CompanyNameType" />
                    <xsd:element name="contact-phone" type="tns:PhoneNumberType" />
                    <xsd:element name="address-details" type="tns:DomesticAddressDetailsType" />
                </xsd:all>
            </xsd:complexType>

            <xsd:complexType name="RecipientAddressType">
                <xsd:all>
                    <xsd:element name="name" type="tns:ContactNameType" minOccurs="0" />
                    <xsd:element name="company" type="tns:CompanyNameType" minOccurs="0" />
                    <xsd:element name="additional-address-info" minOccurs="0">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:normalizedString">
                                <xsd:maxLength value="44" />
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="client-voice-number" type="tns:PhoneNumberType" minOccurs="0" />
                    <xsd:element name="address-details" type="tns:DestinationAddressDetailsType" />
                </xsd:all>
            </xsd:complexType>

            <xsd:complexType name="DestinationType">
                <xsd:all>
                    <xsd:element name="name" type="tns:ContactNameType" minOccurs="0" />
                    <xsd:element name="company" type="tns:CompanyNameType" minOccurs="0" />
                    <xsd:element name="additional-address-info" minOccurs="0">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:normalizedString">
                                <xsd:maxLength value="44" />
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="client-voice-number" type="tns:PhoneNumberType" minOccurs="0" />
                    <xsd:element name="address-details" type="tns:DestinationAddressDetailsType" />
                </xsd:all>
            </xsd:complexType>

            <xsd:complexType name="DomesticAddressDetailsType">
                <xsd:all>
                    <xsd:element name="address-line-1">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:normalizedString">
                                <xsd:minLength value="1" />
                                <xsd:maxLength value="44" />
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="address-line-2" minOccurs="0">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:normalizedString">
                                <xsd:maxLength value="44" />
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="city">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:normalizedString">
                                <xsd:minLength value="1" />
                                <xsd:maxLength value="40" />
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="prov-state" type="tns:ProvinceType" />
                    <xsd:element name="postal-zip-code" type="tns:PostalCodeType" />
                </xsd:all>
            </xsd:complexType>

            <xsd:complexType name="AddressDetailsType">
                <xsd:all>
                    <xsd:element name="address-line-1">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:normalizedString">
                                <xsd:minLength value="1" />
                                <xsd:maxLength value="44" />
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="address-line-2" minOccurs="0">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:normalizedString">
                                <xsd:maxLength value="44" />
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="city">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:normalizedString">
                                <xsd:minLength value="1" />
                                <xsd:maxLength value="40" />
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="prov-state" type="tns:ProvinceStateOrInternationalType" />
                    <xsd:element name="country-code" type="tns:CountryCodeType" />
                    <xsd:element name="postal-zip-code" type="tns:PostalCodeOrZipOrInternationalType" minOccurs="0" />
                </xsd:all>
            </xsd:complexType>

            <xsd:complexType name="DestinationAddressDetailsType">
                <xsd:all>
                    <xsd:element name="address-line-1">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:normalizedString">
                                <xsd:minLength value="1" />
                                <xsd:maxLength value="44" />
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="address-line-2" minOccurs="0">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:normalizedString">
                                <xsd:maxLength value="44" />
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="city" minOccurs="0">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:normalizedString">
                                <xsd:minLength value="1" />
                                <xsd:maxLength value="40" />
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="prov-state" type="tns:ProvinceStateOrInternationalType" minOccurs="0" />
                    <xsd:element name="country-code" type="tns:CountryCodeType" />
                    <xsd:element name="postal-zip-code" type="tns:PostalCodeOrZipOrInternationalType" minOccurs="0" />
                </xsd:all>
            </xsd:complexType>

            <xsd:complexType name="OptionType">
                <xsd:all>
                    <xsd:element name="option-code">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:normalizedString">
                                <xsd:minLength value="1" />
                                <xsd:maxLength value="10" />
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="option-amount" type="tns:CostTypeNonZero" minOccurs="0" />
                    <xsd:element name="option-qualifier-1" type="xsd:boolean" minOccurs="0" />
                    <xsd:element name="option-qualifier-2" minOccurs="0">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:normalizedString">
                                <xsd:maxLength value="12" />
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                </xsd:all>
            </xsd:complexType>

            <xsd:complexType name="ParcelCharacteristicsType">
                <xsd:all>
                    <xsd:element name="weight">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:decimal">
                                <xsd:minExclusive value="0" />
                                <xsd:maxInclusive value="999.999" />
                                <xsd:fractionDigits value="3" />
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="dimensions" minOccurs="0">
                        <xsd:complexType>
                            <xsd:all>
                                <xsd:element name="length" type="tns:DimensionMeasurementType" />
                                <xsd:element name="width" type="tns:DimensionMeasurementType" />
                                <xsd:element name="height" type="tns:DimensionMeasurementType" />
                            </xsd:all>
                        </xsd:complexType>
                    </xsd:element>
                    <xsd:element name="document" type="xsd:boolean" minOccurs="0" />
                    <xsd:element name="unpackaged" type="xsd:boolean" minOccurs="0" />
                    <xsd:element name="mailing-tube" type="xsd:boolean" minOccurs="0" />
                </xsd:all>
            </xsd:complexType>

            <xsd:complexType name="NotificationType">
                <xsd:all>
                    <xsd:element name="email" type="tns:EmailType" />
                    <xsd:element name="on-shipment" type="xsd:boolean" />
                    <xsd:element name="on-exception" type="xsd:boolean" />
                    <xsd:element name="on-delivery" type="xsd:boolean" />
                </xsd:all>
            </xsd:complexType>

            <xsd:complexType name="PreferencesType">
                <xsd:all>
                    <xsd:element name="show-packing-instructions" type="xsd:boolean" />
                    <xsd:element name="show-postage-rate" type="xsd:boolean" minOccurs="0" />
                    <xsd:element name="show-insured-value" type="xsd:boolean" minOccurs="0" />
                </xsd:all>
            </xsd:complexType>

            <xsd:complexType name="ReferencesType">
                <xsd:all>
                    <xsd:element name="cost-centre" type="tns:CostCentreIDType" minOccurs="0" />
                    <xsd:element name="customer-ref-1" minOccurs="0">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:normalizedString">
                                <xsd:maxLength value="35" />
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="customer-ref-2" minOccurs="0">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:normalizedString">
                                <xsd:maxLength value="35" />
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                </xsd:all>
            </xsd:complexType>

            <xsd:simpleType name="CostCentreIDType">
                <xsd:restriction base="xsd:normalizedString">
                    <xsd:maxLength value="30" />
                </xsd:restriction>
            </xsd:simpleType>

            <xsd:simpleType name="EmailType">
                <xsd:restriction base="xsd:normalizedString">
                    <xsd:pattern value="(['_A-Za-z0-9\-\+]+)(\.['_A-Za-z0-9\-\+]+)*@([A-Za-z0-9\-]+)(\.[A-Za-z0-9\-]+)*(\.[A-Za-z]{2,5})" />
                    <xsd:maxLength value="60" />
                </xsd:restriction>
            </xsd:simpleType>

            <xsd:simpleType name="CompanyNameType">
                <xsd:restriction base="xsd:normalizedString">
                    <xsd:maxLength value="44" />
                </xsd:restriction>
            </xsd:simpleType>

            <xsd:simpleType name="ContactNameType">
                <xsd:restriction base="xsd:normalizedString">
                    <xsd:maxLength value="44" />
                </xsd:restriction>
            </xsd:simpleType>

            <xsd:simpleType name="TrackingPINType">
                <xsd:restriction base="xsd:normalizedString">
                    <xsd:minLength value="11" />
                    <xsd:maxLength value="16" />
                </xsd:restriction>
            </xsd:simpleType>

            <xsd:simpleType name="ShipmentIDType">
                <xsd:restriction base="xsd:normalizedString">
                    <xsd:minLength value="1" />
                    <xsd:maxLength value="32" />
                </xsd:restriction>
            </xsd:simpleType>

            <xsd:simpleType name="PromoCodeType">
        		<xsd:restriction base="xsd:normalizedString">
        			<xsd:maxLength value="10" />
        		</xsd:restriction>
        	</xsd:simpleType>

            <xsd:complexType name="ArtifactsType">
                <xsd:sequence>
                    <xsd:element name="artifact" type="tns:ArtifactType" maxOccurs="unbounded" />
                </xsd:sequence>
            </xsd:complexType>

            <xsd:complexType name="ArtifactType">
                <xsd:sequence>
                    <xsd:element name="artifact-id" type="tns:ArtifactIdType" />
                    <xsd:element name="page-index" type="tns:PageIndexType" />
                </xsd:sequence>
                <xsd:attribute name="type" type="tns:RelType" use="required" />
            </xsd:complexType>

            <xsd:simpleType name="ArtifactIdType">
                <xsd:restriction base="xsd:normalizedString">
                    <xsd:maxLength value="32" />
                </xsd:restriction>
            </xsd:simpleType>

            <xsd:simpleType name="PageIndexType">
                <xsd:restriction base="xsd:normalizedString">
                    <xsd:maxLength value="2" />
                </xsd:restriction>
            </xsd:simpleType>

            <xsd:simpleType name="RelType">
                <xsd:restriction base="xsd:string">
                    <xsd:enumeration value="self" />
                    <xsd:enumeration value="details" />
                    <xsd:enumeration value="shipment" />
                    <xsd:enumeration value="receipt" />
                    <xsd:enumeration value="refund" />
                    <xsd:enumeration value="label" />
                    <xsd:enumeration value="commercialInvoice" />
                </xsd:restriction>
            </xsd:simpleType>

            <xsd:simpleType name="CcType">
                <xsd:restriction base="xsd:normalizedString">
                    <xsd:enumeration value="MC" />
                    <xsd:enumeration value="VIS" />
                    <xsd:enumeration value="AME" />
                    <xsd:enumeration value="DC" />
                    <xsd:enumeration value="DIS" />
                    <xsd:enumeration value="ER" />
                </xsd:restriction>
            </xsd:simpleType>

            <xsd:simpleType name="CcMaskedNumberType">
                <xsd:restriction base="xsd:normalizedString">
                    <xsd:minLength value="1" />
                    <xsd:maxLength value="25" />
                </xsd:restriction>
            </xsd:simpleType>

            <xsd:simpleType name="CcNameType">
                <xsd:restriction base="xsd:normalizedString">
                    <xsd:minLength value="1" />
                    <xsd:maxLength value="40" />
                </xsd:restriction>
            </xsd:simpleType>

            <xsd:simpleType name="CcAuthorizationCodeType">
                <xsd:restriction base="xsd:normalizedString">
                    <xsd:minLength value="1" />
                    <xsd:maxLength value="10" />
                </xsd:restriction>
            </xsd:simpleType>

            <xsd:simpleType name="CcAuthorizationAmountType">
                <xsd:restriction base="xsd:decimal">
                </xsd:restriction>
            </xsd:simpleType>

            <xsd:simpleType name="CurrencyType">
                <xsd:restriction base="xsd:normalizedString">
                    <xsd:minLength value="1" />
                    <xsd:maxLength value="3" />
                </xsd:restriction>
            </xsd:simpleType>


            <xsd:simpleType name="ProvinceStateOrInternationalType">
                <xsd:restriction base="xsd:normalizedString">
                    <xsd:minLength value="1" />
                    <xsd:maxLength value="20" />
                </xsd:restriction>
            </xsd:simpleType>

            <xsd:simpleType name="PostalCodeOrZipOrInternationalType">
                <xsd:restriction base="xsd:normalizedString">
                    <xsd:minLength value="1" />
                    <xsd:maxLength value="14" />
                </xsd:restriction>
            </xsd:simpleType>

            <xsd:simpleType name="PostalCodeType">
                <xsd:restriction base="xsd:string">
                    <xsd:pattern value="[A-Z]\d[A-Z]\d[A-Z]\d" />
                </xsd:restriction>
            </xsd:simpleType>

            <xsd:simpleType name="CountryCodeType">
                <xsd:restriction base="xsd:string">
                    <xsd:pattern value="[a-zA-Z][a-zA-Z]" />
                </xsd:restriction>
            </xsd:simpleType>

            <xsd:simpleType name="ProvinceType">
                <xsd:restriction base="xsd:normalizedString">
                    <xsd:minLength value="1" />
                    <xsd:maxLength value="2" />
                </xsd:restriction>
            </xsd:simpleType>

            <xsd:simpleType name="PhoneNumberType">
                <xsd:restriction base="xsd:normalizedString">
                    <xsd:maxLength value="25" />
                </xsd:restriction>
            </xsd:simpleType>

            <xsd:simpleType name="CustomerIDType">
                <xsd:restriction base="xsd:string">
                    <xsd:pattern value="\d{1,10}" />
                </xsd:restriction>
            </xsd:simpleType>

            <xsd:simpleType name="OutletIDType">
                <xsd:restriction base="xsd:normalizedString">
                    <xsd:maxLength value="4" />
                </xsd:restriction>
            </xsd:simpleType>

            <xsd:simpleType name="CostTypeNonZero">
                <xsd:restriction base="xsd:decimal">
                    <xsd:minExclusive value="0" />
                    <xsd:maxInclusive value="999999.99" />
                    <xsd:fractionDigits value="2" />
                </xsd:restriction>
            </xsd:simpleType>

            <xsd:simpleType name="CostTypeAllowsZero">
                <xsd:restriction base="xsd:decimal">
                    <xsd:minInclusive value="0" />
                    <xsd:maxInclusive value="999999.99" />
                    <xsd:fractionDigits value="2" />
                </xsd:restriction>
            </xsd:simpleType>

            <xsd:simpleType name="CostTypeAllowsNegative">
                <xsd:restriction base="xsd:decimal">
                    <xsd:minInclusive value="-999999.99" />
                    <xsd:maxInclusive value="999999.99" />
                    <xsd:fractionDigits value="2" />
                </xsd:restriction>
            </xsd:simpleType>

            <xsd:simpleType name="ServiceCodeType">
                <xsd:restriction base="xsd:normalizedString">
                    <xsd:minLength value="1" />
                    <xsd:maxLength value="32" />
                </xsd:restriction>
            </xsd:simpleType>

            <xsd:simpleType name="DimensionMeasurementType">
                <xsd:restriction base="xsd:decimal">
                    <xsd:minExclusive value="0" />
                    <xsd:maxInclusive value="999.9" />
                    <xsd:fractionDigits value="1" />
                </xsd:restriction>
            </xsd:simpleType>

            <xsd:complexType name="messages">
                <xsd:sequence>
                    <xsd:element minOccurs="0" maxOccurs="unbounded" name="message">
                        <xsd:complexType>
                            <xsd:sequence>
                                <xsd:element name="code" type="xsd:string" />
                                <xsd:element name="description" type="xsd:string" />
                            </xsd:sequence>
                        </xsd:complexType>
                    </xsd:element>
                </xsd:sequence>
            </xsd:complexType>

            <xsd:simpleType name="locale">
                <xsd:restriction base="xsd:string">
                    <xsd:pattern value="([eE][nN]|[fF][rR])" />
                </xsd:restriction>
            </xsd:simpleType>

            <xsd:simpleType name="PlatformIDType">
                <xsd:restriction base="xsd:string">
                    <xsd:pattern value="\d{1,10}" />
                </xsd:restriction>
            </xsd:simpleType>

        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="CreateNCShipmentRequest">
        <wsdl:part name="body" element="tns:create-non-contract-shipment-request"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="CreateNCShipmentResponse">
        <wsdl:part name="body" element="tns:create-non-contract-shipment-response"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="GetNCShipmentRequest">
        <wsdl:part name="body" element="tns:get-non-contract-shipment-request"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="GetNCShipmentResponse">
        <wsdl:part name="body" element="tns:get-non-contract-shipment-response"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="GetNCShipmentDetailsRequest">
        <wsdl:part name="body" element="tns:get-non-contract-shipment-details-request"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="GetNCShipmentDetailsResponse">
        <wsdl:part name="body" element="tns:get-non-contract-shipment-details-response"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="GetNCShipmentReceiptRequest">
        <wsdl:part name="body" element="tns:get-non-contract-shipment-receipt-request"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="GetNCShipmentReceiptResponse">
        <wsdl:part name="body" element="tns:get-non-contract-shipment-receipt-response"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="GetNCShipmentsRequest">
        <wsdl:part name="body" element="tns:get-non-contract-shipments-request"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="GetNCShipmentsResponse">
        <wsdl:part name="body" element="tns:get-non-contract-shipments-response"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="RequestNCShipmentRefundRequest">
        <wsdl:part name="body" element="tns:request-non-contract-shipment-refund-request"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="RequestNCShipmentRefundResponse">
        <wsdl:part name="body" element="tns:request-non-contract-shipment-refund-response"></wsdl:part>
    </wsdl:message>
    <wsdl:portType name="NCShipmentPortType">
        <wsdl:operation name="CreateNCShipment">
            <wsdl:input message="tns:CreateNCShipmentRequest"></wsdl:input>
            <wsdl:output message="tns:CreateNCShipmentResponse"></wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="GetNCShipment">
            <wsdl:input message="tns:GetNCShipmentRequest"></wsdl:input>
            <wsdl:output message="tns:GetNCShipmentResponse"></wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="GetNCShipmentDetails">
            <wsdl:input message="tns:GetNCShipmentDetailsRequest"></wsdl:input>
            <wsdl:output message="tns:GetNCShipmentDetailsResponse"></wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="GetNCShipmentReceipt">
            <wsdl:input message="tns:GetNCShipmentReceiptRequest"></wsdl:input>
            <wsdl:output message="tns:GetNCShipmentReceiptResponse"></wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="GetNCShipments">
            <wsdl:input message="tns:GetNCShipmentsRequest"></wsdl:input>
            <wsdl:output message="tns:GetNCShipmentsResponse"></wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="RequestNCShipmentRefund">
            <wsdl:input message="tns:RequestNCShipmentRefundRequest"></wsdl:input>
            <wsdl:output message="tns:RequestNCShipmentRefundResponse"></wsdl:output>
        </wsdl:operation>
    </wsdl:portType>

    <wsdl:binding name="NCShipment" type="tns:NCShipmentPortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
        <wsdl:operation name="CreateNCShipment">
            <soap:operation soapAction="http://www.canadapost.ca/ws/soap/ncshipment/v4/CreateNCShipment" />
            <wsdl:input>
                <wsp:PolicyReference URI="#policy0" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" />
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="GetNCShipment">
            <soap:operation soapAction="http://www.canadapost.ca/ws/soap/ncshipment/v4/GetNCShipment" />
            <wsdl:input>
                <wsp:PolicyReference URI="#policy0" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" />
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="GetNCShipmentDetails">
            <soap:operation soapAction="http://www.canadapost.ca/ws/soap/ncshipment/v4/GetNCShipmentDetails" />
            <wsdl:input>
                <wsp:PolicyReference URI="#policy0" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" />
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="GetNCShipmentReceipt">
            <soap:operation soapAction="http://www.canadapost.ca/ws/soap/ncshipment/v4/GetNCShipmentReceipt" />
            <wsdl:input>
                <wsp:PolicyReference URI="#policy0" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" />
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="GetNCShipments">
            <soap:operation soapAction="http://www.canadapost.ca/ws/soap/ncshipment/v4/GetNCShipments" />
            <wsdl:input>
                <wsp:PolicyReference URI="#policy0" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" />
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="RequestNCShipmentRefund">
            <soap:operation soapAction="http://www.canadapost.ca/ws/soap/shipment/v4/RequestNCShipmentRefund" />
            <wsdl:input>
                <wsp:PolicyReference URI="#policy0" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" />
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>

    <wsdl:service name="NCShipmentService">
        <wsdl:port name="NCShipmentPort" binding="tns:NCShipment">
            <soap:address location="https://ct.soa-gw.canadapost.ca/rs/soap/ncshipment/v4" />
        </wsdl:port>
    </wsdl:service>

    <wsp:Policy wsu:Id="policy0" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy">
        <wsp:ExactlyOne>
            <wsp:All>
                <sp:SupportingTokens xmlns:sp="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702">
                    <sp:UsernameToken sp:IncludeToken="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702/IncludeToken/AlwaysToRecipient">
                        <wsp:Policy>
                            <sp:WssUsernameToken10 />
                        </wsp:Policy>
                    </sp:UsernameToken>
                </sp:SupportingTokens>
            </wsp:All>
            <wsp:All>
                <sp:SupportingTokens xmlns:sp="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702">
                    <sp:UsernameToken sp:IncludeToken="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702/IncludeToken/AlwaysToRecipient">
                        <wsp:Policy>
                            <sp:WssUsernameToken11 />
                        </wsp:Policy>
                    </sp:UsernameToken>
                </sp:SupportingTokens>
            </wsp:All>
        </wsp:ExactlyOne>
    </wsp:Policy>

</wsdl:definitions>